@use '../../styles/variables' as *;

.card {
  background-color: rgba(255,255,255,0);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);



  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $size-small * 0.2;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}