@use "variables";

@mixin font-size-variants {
  &.large {
    font-size: variables.$font-size-large;
  }

  &.medium {
    font-size: variables.$font-size-medium;
  }

  &.small {
    font-size: variables.$font-size-small;
  }
}

@mixin size-variants {
  &.large {
    width: variables.$size-large;
  }

  &.medium {
    width: variables.$size-medium;
  }

  &.small {
    width: variables.$size-small;
  }
}